version: '2'

services:
  app:
    build: ./
    ports:
      # production port
      - 80:3000
    devices:
      # mount entire dev folder to allow any usb devices/joysticks/serial
      # devices to be hotplugged.
      # I'm pretty certain this is insecure, so you can try just passing
      # individual devices, though I'm not sure if hotplugging works this way
      - /dev:/dev
